body{
    margin: 0;
    background: #ddd;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.caja{
    margin: 150px 15px;
    width: 150px;
    height: 150px;
    background: crimson;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    transition: all 2s;
}

.rombo{
    margin: 150px 15px;
    width: 150px;
    height: 150px;
    background: crimson;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
    color: #fff;
    text-align: center;
    line-height: 150px;
    transition: all 2s;
}

.triangulo{
    margin: 150px 80px;
    width: 0px; 
    height: 0px; 
    color: #000000;
    text-align: center;
    line-height: 10px;
    font-size: 30px;
    border-left: 120px solid crimson;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    transition: all 2s;
}

.rectangulo{
    margin: 150px 15px;
    width: 100px;
    height: 150px;
    background: crimson;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    transition: all 2s;
}

.circulo {
    margin: 150px 40px;
    width: 150px;
    height: 150px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    -moz-border-radius: 70%;
    -webkit-border-radius: 70%;
    border-radius: 70%;
    background: crimson;
}

.rombo:nth-child(1):hover{
    background: rgb(7, 224, 170);
    
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg) translate(50px, 50px);;
    
}

.triangulo:nth-child(2):hover{
    border-left: 120px solid blue;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    transform: rotate(2turn);
}

.rectangulo:nth-child(3):hover{
    background: yellow;
    transform: scaleX(2);
}

.circulo:nth-child(4):hover{
    background: green;
    transform: skewX(40deg);
}